<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="http://localhost:3000/static/styles/style.css" />
  <title>step1</title>
</head>

<body>
  <div class="container">
    <div class="flex arrow-btn">
      <a href="/A?type=a3" class="">이전</a>
      <a href="/" class="">홈</a>
      <a href="/A?type=a5" class="">다음</a>
    </div>
    <% data.forEach((item, i)=>{ %>
    <div class="rectangle">
      <div class="cont-title center">
        <span class="kr-text">Listen, read and choose the correct word.</span>
      </div>
      <div class="cont-title center aling-center">
        <button class="" id="playBtn">
          <img id="playImage" src="http://localhost:3000/static/images/voice.png" alt="" />
          <audio id="myAudio" src="https://ccrma.stanford.edu/~jos/mp3/harpsi-cs.mp3" controls preload></audio>
        </button>
        <span class="kr-text"><%= i+1 %>. <%= item[2] %>
          <input type="text" id="underscoreInput" readonly placeholder="" />
        </span>
        <img src="http://localhost:3000/static/books/<%=bookName%>/A/img/<%=item[3]%>" />
      </div>
      <div class="cont-body">
        <ul class="list-row-style">
          <% item.slice(5).forEach((opt, k)=>{ %>
          <li class=<%= (item[4]-1) == k ? "active": "null" %> data-number="<%= k+1 %>"><%= opt %></li>
          <% }) %>
        </ul>
      </div>
      <div class="cont-footer">
      </div>
    </div>
    <% }) %>
  </div>
</body>
<script>
  // 이미지와 오디오 요소를 변수에 할당
  var playImg = document.getElementById("playImage");
  var myAudio = document.getElementById("myAudio");

  // 이미지 클릭 이벤트 리스너 추가
  playImg.addEventListener("click", function(e) {
    e.preventDefault();
    myAudio.play();
  });

  document.addEventListener("DOMContentLoaded", function() {
    function updateUnderscore() {
      const underscoreLength = "jog";
      let underscores = "";
      for (let i = 0; i < underscoreLength.length; i++) {
        underscores += "_";
      }
      document.getElementById("underscoreInput").value = underscores;
      var input = document.getElementById("underscoreInput");
      input.size = input.value.length - 1 || 1;
    }
    updateUnderscore();
  });
</script>

</html>